*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fff;
  color: #171717;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: color 300ms, background-color 300ms;
}

::selection {
  background: #171717;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

svg {
  display: block;
  vertical-align: middle;
}